@import url('./reset.css');


/* --------------- header --------------- */

header{
    background-color: #A3CC00;
    height: 100px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

a.nav-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: black
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.dropdown{
    position: relative;
}

.dropdown a{
    display: block;
    padding-bottom: 5px;
}

.dropdown-content{
    position: absolute;
    display: none;
    left: -10px;
}

.dropdown-content li{
    width: 100px;
    /* padding: 10px 0px; */
}

.dropdown-content li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    background-color:#A3CC00;
    padding: 15px 0;
}

.dropdown-content a:hover {
    background-color: #e5e5e5;
}

.dropdown:hover .dropdown-content{
    display: block;
} 

.dropdown-content2 button{
    width: 100px;
    background-color: #A3CC00;
    color: white;
    border: none;
    /* padding: 10px 25px; */
    padding: 15px 0;
    font-size: 20px;
    /* outline: 2px red solid; */
}

.dropdown-content2 button:hover{
    background-color: #e5e5e5;
}

/* --------------- lightbox --------------- */

#lightbox{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, .5);
    z-index: 3;
}

#lightbox > article{
    background-color: white;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 10px dashed #A3CC00
}

.none{
    display: none;
}

#lightbox article h1{
    color: #A3CC00;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 30px 50px;
    /* outline: 2px red solid; */
}


#lightbox article ul{

    text-align: center;
    margin: 30px 50px;
    /* outline: 2px red solid; */
}


#lightbox article ul li{
    margin-bottom: 5px;
}
   

#lightbox article ul p{
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    margin: 5px 150px;
    /* outline: 2px red solid; */
}

#lightbox .username{
    margin: 0 auto;
    /* outline: 2px red solid; */
    height: 20px;
    width: 200px;
    border: 1px black solid;
    border-radius: 5px;
}


#lightbox .password{
    height: 20px;
    width: 200px;
    border: 1px black solid;
    border-radius: 5px;
}

#lightbox .remember{
    /* outline: 1px red solid; */
    margin-left: 140px;
}

#lightbox .forget{
    margin: 20px 0px 10px 110px;
 
}

#lightbox .forget span{
    color: black;
}

#lightbox .login{
    font-size: 15px;
    color: white;
    background-color: black;
    border-radius: 5px;
}


/* --------------- main-left --------------- */

.wrapper{
    margin: 150px auto 30px auto;
    max-width: 1200px;
    display: flex;
    /* outline: 1px solid red;
} */
}

.main-left{
    width: 55%;
    /* outline: 1px solid red; */
    margin-left: 20px;
}

.main-left h1{
    font-size: 36px;
    font-weight: bold;
    color: #A3CC00;
    margin-bottom: 25px;
}

.main-left ul{
    display: flex;
    margin-bottom: 20px;
    flex-grow: 1;
    flex-basis: 0;
}

.main-left .choose ul li{
    height: 100px;
    width: 160px;
    margin-left: 115px;
    text-align: center;
    border-radius: 20px;
}


.btn1 {
    background-color: white;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    padding: 20px;
}

.choose .btn1 p{
    margin-bottom: 0px;
}

.btn2 {
    background-color: white;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    padding: 20px;
}

.main-left .choose li a {
    font-size: 20px;
    text-decoration: none;
}

.choose .btn2 p{
    margin-bottom: 0px;
}

.main-left h2{
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.main-left div p{
    font-size: 24px;
    margin-bottom: 10px;
}

.main-left div a{ 
    float: right;
    font-size: 20px;
    color: black;
    
}

/* --------------- left-middle --------------- */

.left-middle{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.left-middle h1{
    padding-top: 20px;
    color: #A3CC00;
    font-size: 28px;
    font-weight: bold; 
    
}

.main-left .left-middle ul{
    display: flex;
    line-height: 0;
    background-color: none;
    flex-direction: column;
}  

.main-left .left-middle ul input{
    width: 80%;
    height: 50px;
    padding-left: 10px;
    margin-left: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.left-middle2{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.left-middle2 h1{
    padding-top: 20px;
    color: #A3CC00;
    font-size: 28px;
    font-weight: bold; 
    margin-bottom: 0px;
}

.left-middle2 p{
    padding-top: 15px;
}

.left-middle2 input{
    width: 50px;
}

.left-middle2 ul{
    /* outline: 2px red solid; */
    height: 50px;
}

.left-middle2 ul li{
    /* outline: 2px red solid; */
    height: 50px;
    font-size: 30px;
}


/* --------------- left-buttom --------------- */

.left-buttom h1{
    padding-top: 20px;
    font-size: 28px;
    margin-bottom: 5px;

}

.left-buttom p{
    padding-top: 15px;
    font-size: 20px;
}

.left-buttom a{
    display: block;
}

.accept{
    display: block;
    margin: 40px auto 0 auto;
    /* outline: 2px red solid;  */
    text-align: center;
    line-height: 40px;
    width: 10%;
    height: 40px;
    text-decoration: none;
    color: #fff;
    background-color: #A3CC00;
    border-radius: 10px; 
    margin-bottom: 20px;
} 

/* --------------- main-right --------------- */

.main-right{
    /* outline: 2px solid red; */
    padding:30px 30px 0 30px;
    height: 450px;
    background-color:  #A3CC00;
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 20px;
} 

.right-top {
    display: flex;
    
}

.right-top h1{
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    padding-top: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.right-top p{
    color: #fff;
    font-size: 20px;
    padding-left: 15px;
}


.right-buttom{
    padding: 10px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
}

.right-buttom h1{
    color: white;
    font-size: 32px;
    font-weight: bold;
    padding-top: 20px;

}
.inside {
    display: flex;
}

.inside ul{
    width: 100%;
}

.inside li{
    font-size: 20px;
    color: #fff;
    flex-basis: 0;
    flex-grow: 1;
    padding-left: 40px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.main-right h2{
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    float: right;
}

/* --------------- buttom --------------- */
footer{
    background-color: #A3CC00;
    height: 100px;
    width: 100%;
}

.buttom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 100px;
    
}

.buttom-left{
    margin-left: 30px;
}

.buttom-left a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}


.buttom-right{
    /* outline: 2px solid red; */
    margin-right: 10px;
}

.buttom-right ul{
    display: flex;
    /* outline: 2px solid red; */
    /* width: 100px; */
    justify-content: right;
}

.buttom-right li{
    margin-right: 20px;
}


.buttom-right a{
    /* outline: 3px solid black; */
    display: block;
}

.buttom-right i{
    color: white;
    font-size: 30px;
}

.none{
    display: none;
}

.color1{
    background-color: #A3CC00;
    color: white;
}

.color2{
    background-color: white;
    color: black;
}

.last{
    background-color: #A3CC00;

}

/* --------------- RWD --------------- */

@media screen and (max-width: 1100px){
    
    .wrapper{
        flex-direction: column;
        width: 900px;
    }

    .main-left{
        width: 100%;
        margin-left: 0;
        margin-bottom: 50px;
    }

    .main-left .choose ul li{
        margin-left: 240px;
    }

    .main-right{
        margin: 0 80px;
    }
}

@media screen and (max-width: 900px){

    .wrapper{
        width: 700px;
    }

    .main-left .choose ul li{
        margin-left: 128px;
    }
}

@media screen and (max-width: 700px){
    
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: #A3CC00;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        border-top: 1px solid white;
    }
 
    .dropdown{
        padding: 16px 0;
        border-bottom: 2px solid white;
        width: 100%
    }

    .nav-menu.active{
        right: 0;
    }

    .dropdown:hover .dropdown-content{
        display: none;
    } 

    .wrapper{
        width: 600px;
    }

    .main-right{
        margin: 0 40px;
    }

    .main-left .choose ul li{
        margin-left: 100px;
    }

    .accept{
        width: 20%;
    }

    .last p{
        font-size: 2vw;
    }
}

@media screen and (max-width: 600px){

    .wrapper{
        width: 500px;
    }

    .main-left .choose ul li{
        margin-left: 60px;
    }

    .buttom-left{
        margin-left: 10px;
    }

    .buttom-right{
        margin-right: 5px;
    }
}

@media screen and (max-width: 500px){

    .wrapper{
        width: 400px;
    }

    .main-right{
        margin: 0 0;
    }

    .right-top img{
        width: 200px;
    }


    .main-left .choose ul li{
        margin-left: 28px;
    }

    .buttom-left a{
        margin-left: 5px;
        font-size: 12px;
    }

    .buttom-right i{
        font-size: 20px;
    }
}

@media screen and (max-width: 430px){

    .wrapper{
        width: 350px;
        padding-bottom: 30px;
    }

    .main-left .choose ul li{
        margin-left: 10px;
    }

    .main-left .left-middle ul input{
        margin-left: 20px;
    }

    .right-top img{
        width: 150px;
    }

    .main-right{
        height: 395px;
    }
}

@media screen and (max-width: 390px){

    .main-left .choose ul li {{
        margin-left: 0;
    }

    .wrapper{
        width: 300px;
        padding-bottom: 30px;
    }
}
}