@import url('reset.css');


/* --------------- header --------------- */

header{
    background-color: #A3CC00;
    height: 100px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

a.nav-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: black
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.dropdown{
    position: relative;
}

.dropdown a{
    display: block;
    padding-bottom: 5px;
}

.dropdown-content{
    position: absolute;
    display: none;
    left: -10px;
}

.dropdown-content li{
    width: 100px;
    /* padding: 10px 0px; */
}

.dropdown-content li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    background-color:#A3CC00;
    padding: 15px 0;
}

.dropdown-content a:hover {
    background-color: #e5e5e5;
}

.dropdown:hover .dropdown-content{
    display: block;
} 

.dropdown-content2 button{
    width: 100px;
    background-color: #A3CC00;
    color: white;
    border: none;
    /* padding: 10px 25px; */
    padding: 15px 0;
    font-size: 20px;
    /* outline: 2px red solid; */
}

.dropdown-content2 button:hover{
    background-color: #e5e5e5;
}

/* --------------- lightbox --------------- */

#lightbox{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, .5);
    z-index: 3;
}

#lightbox > article{
    background-color: white;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 10px dashed #A3CC00
}

.none{
    display: none;
}

#lightbox article h1{
    color: #A3CC00;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 30px 50px;
    /* outline: 2px red solid; */
}


#lightbox article ul{

    text-align: center;
    margin: 30px 50px;
    /* outline: 2px red solid; */
}


#lightbox article ul li{
    margin-bottom: 5px;
}
   

#lightbox article ul p{
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    margin: 5px 150px;
    /* outline: 2px red solid; */
}

#lightbox .username{
    margin: 0 auto;
    /* outline: 2px red solid; */
    height: 20px;
    width: 200px;
    border: 1px black solid;
    border-radius: 5px;
}

#lightbox .password{
    height: 20px;
    width: 200px;
    border: 1px black solid;
    border-radius: 5px;
}

#lightbox .remember{
    /* outline: 1px red solid; */
    margin-left: 140px;
}

#lightbox .forget{
    margin: 20px 0px 10px 110px;
 
}

#lightbox .forget span{
    color: black;
}

#lightbox .login{
    font-size: 15px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

/* --------------- main --------------- */

.wrapper{
    max-width: 1200px;
    margin: 200px auto 100px auto;
    
    /* outline: 2px red solid; */
}

.main-top h1{
    /* outline: 2px red solid; */
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 0 auto 30px auto;
}


.tag{
    /* outline: 2px red solid; */
    padding: 10px 10px;
    width: 60%;
    margin: 0 auto;
    outline: 1px black solid;
    border-radius: 10px;
    height: 30px;

}

.tag input{
    width: 90%;
    height: 30px;
    border: none;
    outline:none;
}

.main-top2{
    margin: 50px 50px 30px 50px;
}

.main-top2 ul{
    display: flex;
    margin-bottom: 60px;
}

.main-top2 li{
    margin-right: 50px;
}

.main-top2 li button{
    font-size: 24px;
    outline: none;
    border: none;
    background-color: white;
    border-bottom: 2px black solid;
}

.main-top2 li:hover button{
    font-weight: bold;
    font-size: 28px;
    outline: none;
    border: none;
    color: #A3CC00;
    border-bottom: 2px black solid;
}

.main-top2 a{
    display: block;
    color: black;
    font-size: 20px;
}

.main-middle{
    margin: 50px 20px
}

.main-middle h2{
    font-weight: bolder;
    font-size: 28px;
    margin-bottom: 20px;
}

.main-middle ul{
    display: flex;
    margin-bottom: 80px;
}

.main-middle li{
    flex-basis:0;
    flex-grow: 1;
    margin-right: 15px;
}

.main-middle li:last-child{
    margin-right: 0;
}

.main-middle a{
    text-decoration: none;
}

.main-middle img{
    width: 100%;
    margin-bottom: 10px;
}


.main-middle p{
    text-align: center;
    font-size: 20px;
    color: black;
}

/* --------------- main-buttom --------------- */

h1{ 
    font-size: 28px;
    margin-bottom: 40px;
    font-weight: bolder;
    text-align: center;
}

.main-buttom{
    margin: 50px 20px;
} 

.main-buttom ul{
    display: flex;

    /* outline: 2px red solid; */

}

.main-buttom li{
    /* outline: 2px red solid; */
    margin-right: 60px;
    margin-bottom: 15px;
    flex-basis: 0;
    flex-grow: 1;
}

.main-buttom li:nth-child(4){
    /* outline: 2px red solid; */
    margin-right: 0px;
}

.main-buttom a{
    display: block;
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    margin-bottom: 15px;
    color: black;
}
.main-buttom p{
    font-weight: normal;
    margin-bottom: 10px;
}


/* --------------- buttom --------------- */

footer{
    height: 100px;
    width: 100%;
    background-color: #A3CC00;
}

.buttom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 100px;
}

.buttom-left{
    margin-left: 30px;
}

.buttom-left a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}


.buttom-right{
    /* outline: 2px solid red; */
    margin-right: 10px;
}

.buttom-right ul{
    display: flex;
}

.buttom-right li{
    margin-right: 20px;
}


.buttom-right a{
    /* outline: 3px solid black; */
    display: block;
}

.buttom-right i{
    color: white;
    font-size: 30px;
}

.last{
    background-color: #A3CC00;
}


/* --------------- RWD --------------- */

@media screen and (max-width: 1000px){

    .wrapper{
        width: 900px;
    }

    .main-top{
        margin-top: 150px;
    }

    .main-top h1{
        font-size: 26px;
    }

    .main-top2 li button {
        font-size: 22px;
    }

}

@media screen and (max-width: 900px){

    .wrapper{
        width: 800px;
    }

    .main-top{
        margin-top: 150px;
    }

    .main-top h1{
        font-size: 26px;
    }

    .main-middle h2{
        font-size: 24px;
    }

    h1{
        font-size: 24PX;
    }

    .main-top2 li button {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px){

    .wrapper{
        width: 700px;
    }

    .main-top2 li button {
        font-size: 14px;
    }

    .main-top2 ul{
        margin-bottom: 40px;
    }

    .main-buttom ul li:nth-child(3){
        display: none;
    }

}

@media screen and (max-width: 700px){

    .wrapper{
        width: 600px;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: #A3CC00;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        border-top: 1px solid white;
    }
 
    .dropdown{
        padding: 16px 0;
        border-bottom: 2px solid white;
        width: 100%
    }

    .nav-menu.active{
        right: 0;
    }

    .dropdown:hover .dropdown-content{
        display: none;
    } 

    .main-middle p{
        font-size: 14px;
    }

    .last p{
        font-size: 2vw;
    }

    .main-top2 li:hover button{
        font-weight: bold;
        font-size: 16px;
        outline: none;
        border: none;
        color: #A3CC00;
        border-bottom: 2px black solid;
    }
}

@media screen and (max-width: 600px){

    .wrapper{
        width: 500px;
    }

    .tag{
        width: 100%;
    }

    .buttom-left{
        margin-left: 5px;
    }

    .buttom-right{
        margin-right: 5px;
    }

    .buttom-right i{
        font-size: 25px;
    }

    .buttom-left{
        font-size: 16px;
    }

    .buttom-left a{
        margin-left: 10px;
    }

}


@media screen and (max-width: 500px){

    .wrapper{
        width: 400px;
    }

    .last{
        font-size: 10px;
    }

  

}

@media screen and (max-width: 430px){
    .wrapper{
        width: 380px;
    }

    .buttom-left a{
        margin-left: 2px;
    }

    .buttom-right li{
        margin-right: 10px;
    }
}

@media screen and (max-width: 390px){
    .wrapper{
        width: 350px;
    }

}