@import url('reset.css');


/* --------------- header --------------- */

header{
    background-color: #A3CC00;
    height: 100px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

a.nav-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: black
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.dropdown{
    position: relative;
}

.dropdown a{
    display: block;
    padding-bottom: 5px;
}

.dropdown-content{
    position: absolute;
    display: none;
    left: -10px;
}

.dropdown-content li{
    width: 100px;
    /* padding: 10px 0px; */
}

.dropdown-content li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    background-color:#A3CC00;
    padding: 15px 0;
}

.dropdown-content a:hover {
    background-color: #e5e5e5;
}

.dropdown:hover .dropdown-content{
    display: block;
} 

.dropdown-content2 button{
    width: 100px;
    background-color: #A3CC00;
    color: white;
    border: none;
    /* padding: 10px 25px; */
    padding: 15px 0;
    font-size: 20px;
    /* outline: 2px red solid; */
}

.dropdown-content2 button:hover{
    background-color: #e5e5e5;
}

/* --------------- lightbox --------------- */

#lightbox{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, .5);
    z-index: 3;
}

#lightbox > article{
    background-color: white;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 10px dashed #A3CC00
}

.none{
    display: none;
}

#lightbox article h1{
    color: #A3CC00;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 30px 50px;
    /* outline: 2px red solid; */
}


#lightbox article ul{

    text-align: center;
    margin: 30px 50px;
    /* outline: 2px red solid; */
}


#lightbox article ul li{
    margin-bottom: 5px;
}
   

#lightbox article ul p{
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    margin: 5px 150px;
    /* outline: 2px red solid; */
}

#lightbox .username{
    margin: 0 auto;
    /* outline: 2px red solid; */
    height: 20px;
    width: 200px;
}

#lightbox .password{
    height: 20px;
    width: 200px;
}

#lightbox .remember{
    /* outline: 1px red solid; */
    margin-left: 140px;
}

#lightbox .forget{
    margin: 20px 0px 10px 110px;
 
}

#lightbox .forget span{
    color: black;
}

#lightbox .login{
    font-size: 15px;
    color: white;
    background-color: black;
    border-radius: 5px;
}
/* --------------- main --------------- */

.wrapper{
    margin: 150px auto 20px auto;
    max-width: 1200px;
    display: flex;
}

.wrapper img{
    width: 100% ;
} 

.wrapper a, img{
    display: block;
}

.wrapper li{
    flex-grow: 1;
    /* outline: 3px solid green; */
    margin-right: 15px;
}

/* --------------- main-left --------------- */

.main-left{
    /* outline:2px yellow solid ; */
    width: 800px;
    margin-right: 30px;
    margin-left: 20px;
}

.main-left ul{
    display: flex;
    /* outline:2px red solid ; */
    width:100%;
    flex-wrap: wrap;
   
    /* height:800px */
}

.main-left li{
    /* outline:2px red solid ; */
    margin-top: 10px;
    flex-basis: 180px;
}

.main-left li:nth-child(3){
    margin-right:0;
}

.main-left li:nth-child(6){
    margin-right:0;
}

.main-left li:nth-child(9){
    margin-right:0;
}

.main-left li:nth-child(12){
    margin-right:0;
}

.main-left li:nth-child(15){
    margin-right:0;
}

.main-left li:last-child{
    margin-right:0;
}

.main-left li:hover{
    transform: scale(1.05);
}

.main-left a{
    /* outline:2px red solid ; */
    display: block;
    margin-bottom: 10px;
}

.main-left span{
    font-size: 20px;
    font-weight: bold;
    /* outline: solid red; */
}

.main-left span i{
    font-size: 15px;
    color: gold;
    margin-right: 5px;
}

.main-left span:nth-child(3){
    float: right;
    /* padding-top: 8px; */
}

.main-left p{
    /* outline:2px red solid ; */
    margin: 5px 0;
}

.main-left p:nth-last-child(1){
    margin-bottom: 10px;
    font-weight: bold;
}

/* --------------- main-right --------------- */

.main-right{
    width: 400px;
    position: sticky;
    height: 450px;
    top: 150px;
    /* outline:2px red solid ; */
    margin-bottom: 200px;
    margin-right: 20px;
}

/* --------------- main2 --------------- */

.main2{
    margin: 20px;
    text-align: center;
    font-size: 20px;
}

.main2 span{
    margin-right: 5px;
    color: black;

}

/* --------------- main3 --------------- */

.main3{
    margin: 0 auto 30px auto;
    width: 700px;
    margin-top: 50px;
    /* outline:2px red solid ; */
}

.main3 ul{
    display: flex;
}

.main3 li{
    flex-grow: 1;
    margin-left: 80px;
}
.main3 h1{
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 20px;
   
}

.main3 li a{
    text-decoration: none;
}

.main3 p{
    font-size: 22px;
    margin-bottom: 15px;
    color: black;
}

/* --------------- buttom --------------- */
footer{
    height: 100px;
    width: 100%;
    background-color: #A3CC00;
}

.buttom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 100px;
}

.buttom-left{
    margin-left: 30px;
}

.buttom-left a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}


.buttom-right{
    /* outline: 2px solid red; */
    margin-right: 10px;
}

.buttom-right ul{
    display: flex;
}

.buttom-right li{
    margin-right: 20px;
    /* margin-top: 15px; */
    /* outline: 3px solid black; */
}


.buttom-right a{
    /* outline: 3px solid black; */
    display: block;
}

.buttom-right i{
    color: white;
    font-size: 30px;
}

.last{
    background-color: #A3CC00;
}


/* --------------- RWD --------------- */

@media screen and (max-width: 1000px){

    .wrapper{
        width: 950px;
    }


    .main-left{
        width: 550px;
    }

    .main-left li{
        flex-basis: 140px;
    }

    .main3 li{
        margin-left: 120px;
    }

    .main3{
        width: 900px;
    }
}

@media screen and (max-width: 900px){
    
    .wrapper{
        width: 800px;
        padding-bottom: 40px;
    }


    .main-left{
        width: 400px;
    }

    .main-right{
        width: 450px;
    }

    
    .main3{
        width: 700px;
    }


    .main3 li{
        margin-left: 60px;
    }

    .main-left li:nth-child(3){
        margin-right: 15px;
    }

    .main-left li:nth-child(6){
        margin-right: 15px;
    }

    .main-left li:nth-child(9){
        margin-right: 15px;
    }

    .main-left li:nth-child(12){
        margin-right: 15px;
    }

    .main-left li:nth-child(15){
        margin-right: 15px;
    }
    
    .main-left li:nth-child(18){
        margin-right: 15px;
    }

}

@media screen and (max-width: 800px){

    .wrapper{
        width: 700px;
        padding-bottom: 30px;
    }


    .main-left{
        width: 450px;
        margin-right: 10px;
    }

    .main-right{
        width: 300px;
        height: 400px;
    }
}

@media screen and (max-width: 700px){

    
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: #A3CC00;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        border-top: 1px solid white;
    }
 
    .dropdown{
        padding: 16px 0;
        border-bottom: 2px solid white;
        width: 100%
    }

    .nav-menu.active{
        right: 0;
    }

    .dropdown:hover .dropdown-content{
        display: none;
    } 


    .wrapper{
        width: 600px;
        padding-bottom: 30px;
    }


    .main-left{
        width: 450px;
        margin-left: 0px;
        margin-right: 15px;
    }

    .main-left ul{
        padding-left: 20px;
    }

    .main-left li:nth-child(3){
        margin-right: 10px;
    }

    .main-left li:nth-child(9){
        margin-right: 10px;
    }

    .main-left li:nth-child(15){
        margin-right: 10px;
    }

    .main-right{
        width: 300px;
        margin-right: 0px;
    }

    .main3{
        width: 500px;
    }

    .last p{
        font-size: 2vw;
    }
}

@media screen and (max-width: 600px){

    .wrapper{
        width: 500px;
        padding-bottom: 30px;
    }

    .main-left{
        width: 200px;
        margin-left: 0px;
        margin-right: 10px;
    }

    .main-left li{
        flex-basis: 100px;
    }

    .main-left ul{
        padding-left: 0px;
    }

    .main-right{
        width: 300px;
    }

    .main3 li{
        margin-left: 40px;
    }
    
    .buttom-left{
        margin-left: 10px;
    }

    .buttom-right{
        margin-right: 5px;
    }

    .main3 li h1{
        font-size: 20px;
    }

    .main3 li a p{
        font-size: 16px;
    }
}

@media screen and (max-width: 500px){

    .wrapper{
        width: 400px;
        padding-bottom: 30px;
    }

    .main3{
        width: 400px;
    }

    .buttom-left a{
        margin-left: 5px;
        font-size: 12px;
    }

    .buttom-right i{
        font-size: 20px;
    }

    .main-right{
        height: 250px;
    }

}

@media screen and (max-width: 430px){

    .wrapper{
        width: 350px;
        padding-bottom: 30px;
    }

    .main3{
        width: 350px;
    }

    .main-right{
        height: 200px;
    };

    .iframe{
        height: 100px;
    }

}

@media screen and (max-width: 390px){

    .wrapper{
        width: 300px;
        padding-bottom: 30px;
    }

    .main3{
        width: 300px;
    }

}