@import url('./reset.css');


/* --------------- header --------------- */

header{
    background-color: #A3CC00;
    height: 100px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

a.nav-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: black
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.dropdown{
    position: relative;
}

.dropdown a{
    display: block;
    padding-bottom: 5px;
}

.dropdown-content{
    position: absolute;
    display: none;
    left: -10px;
}

.dropdown-content li{
    width: 100px;
    /* padding: 10px 0px; */
}

.dropdown-content li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    background-color:#A3CC00;
    padding: 15px 0;
}

.dropdown-content a:hover {
    background-color: #e5e5e5;
}

.dropdown:hover .dropdown-content{
    display: block;
} 

.dropdown-content2 button{
    width: 100px;
    background-color: #A3CC00;
    color: white;
    border: none;
    /* padding: 10px 25px; */
    padding: 15px 0;
    font-size: 20px;
    /* outline: 2px red solid; */
}

.dropdown-content2 button:hover{
    background-color: #e5e5e5;
}

/* --------------- lightbox --------------- */

#lightbox{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, .5);
    z-index: 3;
}

#lightbox > article{
    background-color: white;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 10px dashed #A3CC00
}

.none{
    display: none;
}

#lightbox article h1{
    color: #A3CC00;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 30px 50px;
    /* outline: 2px red solid; */
}


#lightbox article ul{

    text-align: center;
    margin: 30px 50px;
    /* outline: 2px red solid; */
}


#lightbox article ul li{
    margin-bottom: 5px;
}
   

#lightbox article ul p{
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    margin: 5px 150px;
    /* outline: 2px red solid; */
}

#lightbox .username{
    margin: 0 auto;
    /* outline: 2px red solid; */
    height: 20px;
    width: 200px;
}

#lightbox .password{
    height: 20px;
    width: 200px;
}

#lightbox .remember{
    /* outline: 1px red solid; */
    margin-left: 140px;
}

#lightbox .forget{
    margin: 20px 0px 10px 110px;
 
}

#lightbox .forget span{
    color: black;
}

#lightbox .login{
    font-size: 15px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

/* --------------- wrapper --------------- */

.wrapper{
    max-width: 1200px;
    margin: 150px auto 100px auto;
    outline: 2px red solid;
}

.wrapper h1{
    font-size: 36px;
    margin-left: 50px;
    font-weight: bold;
}

.swiper{
    margin-top: 50px;
    width: 800px;
    height: 400px;
    outline: 2px red solid;
}

.swiper img{
    width: 100%;
    /* outline: 2px solid red;  */
}

.middle{
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    /* background-color: green; */
    outline: 2px solid gold;
}

.middle-left {
    width: 700px;
    /* outline: 2px solid red; */
    /* padding-left: 220px; */
    margin-left: 50px;
}

.middle-left h1{
    margin-left: 0px;
    font-size: 28px;
    margin-bottom: 25px;
    font-weight: bolder;
}

.middle-left h2{
    font-size: 24px;
    margin-bottom: 5px;
}

.middle-left span{
    float: right;
}

.middle-left p{
    border-top: 2px solid black ;
    font-size: 20px;
    padding-top: 30px;
    margin-bottom: 20px;
}

.middle-left p:last-child{
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

.middle-right{
    width: 400px;
    border-radius: 15px;
    background-color: #A3CC00;
    margin-left: 50px;
    margin-right: 50px;
    padding-right: 10px;
}

.middle-right_top{
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 10px;
    margin-bottom: 20px;
    color: white;
    /* outline: 3px red solid; */
    display: flex;
}

.middle-right_top img{
    width: 60%;
}

.right-top{
    /* outline: 3px red solid; */
    width: 60%;
}

.right-top h1{
    font-weight: bolder;
    font-size: 24px;
    padding-top: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.right-top p{
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    line-height: 30px;
}

.middle-right_buttom{
    border-top: black;
    color: #fff;
    padding-left: 20px;
}

.middle-right_buttom h2{
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 24px;
}

.middle-right_buttom p{
    line-height: 1.3;
    margin-bottom: 10px;
}


/* --------------- main-buttom --------------- */

.main-buttom{
    margin: 0 auto;
    outline: 2px red solid;
}

.main-buttom h1{
    font-weight: bolder;
    font-size: 28px;
    margin-bottom: 15px;
}

.main-buttom ul li{
    margin: 0 auto;
}

.main-buttom .text{
    width: 1000px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid grey;
    margin-left:100px;
    margin-top: 50px;
}

.main-buttom .button{
    margin: 30px auto;
    width: 100px;
    background-color: #A3CC00;
    color: white;
    height: 50px;
    display: block;
    border: none;
    border-radius: 15px;
    
}

/* --------------- buttom --------------- */

.buttom{
    display: flex;
    background-color: #A3CC00;
    height: 100px;
    padding-top: 50px;
    justify-content: space-between;
    width: 100%;
}

.buttom-left{
    margin-left: 30px;
    line-height: 50px;
}

.buttom-left a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
}


.buttom-right{
    /* outline: 2px solid red; */
    margin-right: 30px;
}

.buttom-right ul{
    display: flex;
    /* outline: 2px solid red; */
    /* width: 100px; */
    justify-content: right;
}

.buttom-right li{
    margin-right: 30px;
}


.buttom-right a{
    /* outline: 3px solid black; */
    display: block;
}

.buttom-right i{
    color: white;
    font-size: 40px;
}

:root{
    --swiper-theme-color: white;
}

.last{
    background-color: #A3CC00;
}

@media screen and (max-width: 1000px){

    .middle-left{
        width: 500px;
        margin-left: 20px;
    }

    .middle-right{
        margin-left: 25px;
        margin-right: 20px;
    }

}

@media screen and (max-width: 800px){


    .wrapper h1{
        margin-left: 100px;
    }

    .swiper{
        width: 600px;
        height: 300px;
    }

    .wrapper .right-top h1{
        margin-left: 0px;
    }

    .swiper-wrapper{
        width: 600px;
        height: 300px;
    }

    .middle{
        flex-direction: column;
    }

    .middle-left{
        order:2;
        margin: 0 auto;
    }  

    .middle-left h1{
        margin-left: 0px;
    }  

    .middle-right{
        order:1;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 600px){

    .wrapper h1{
        margin-left: 40px;
    }

    .middle-left h1{
        margin-left: 0px;
    }  

    .swiper{
        width: 500px;
        height: 250px;
    }

    .main-buttom .text{
        width: 65vw;
    }

}

@media screen and (max-width:  500px){


    .swiper{
        width: 400px;
        height: 200px;
    }

    .middle-left{
        width: 80vw;
    }

    .main-buttom .text{
        margin-left: 80px;
    }
}

@media screen and (max-width: 430px){
    .swiper{
        width: 380px;
        height: 190px;
    }

    .middle-right{
        width: 90vw;
    }
}

@media screen and (max-width: 390px){

    .swiper{
        width: 370px;
        height: 185px;
    }

    .main-buttom .text{
        width: 56vw;
    }
}
